.members {
    background-color: #fff4f4;
    padding: 50px 30px;
    text-align: center;
}
.members2 h2 {
    margin-bottom: 20px;
}
.members-list {
    list-style-type: none;
    margin-top: 25px;
}
.member-item {
    background-color: white;
    width: 350px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(61, 60, 60);
}
.member-pic {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.member-name {
    font-size: 22px;
    margin-top: 5px;
}
.member-bio {
    padding: 15px;
    font-size: 16px;
    text-align: justify;
}
